$width-color: #fff;
$brown-100: #31352B;
$brown-110: #121212;
$black-100: #000000;
$brown-90: #505050;
$brown-80: #61645c;
$brown-70: #c1c1c1;
$fair-color: #fef7f0;
$green-110: #4D810C;
$green-100: #63A60E;
$green-90: #63A60F;
$green-70: #99c26d;
$green-60: #E0EDCF;
$green-50: #EFF6E7;
$orange-100: #FF7A00;
$yellow-100: #FFB800;
$reed-color: #CF3E3B;
$fair-90: #f6f6f6;
$fair-70: #F5F5F5;


@function max($numbers...) {
  @return m#{i}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

