@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'global';

@import 'components/header.scss';
@import 'components/product.scss';


.about {
    &__inner {
        position: relative;
    }

    &__content {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 142px 0; 
    }
    
    &__icon {
        width: 60px;
        height: 60px;
    }
    
    .slick-btn {
        position: absolute;
        top: 44%;
        z-index: 3;
        margin: 0 30px;
        width: 60px;
        height: 60px;  
        border-radius: 6px;
        border: 1px solid $brown-70;
        transition: background-color 0.3s;
        
        &:hover,
        &:focus {
            background-color: $green-60;
            border: 1px solid $green-100; 
        }

        &:active {
            border: 3px solid $green-100; 
        }
    }

    .slick-prev::before,
    .slick-next::before {
        content: "";
        position: absolute;
        background-size: contain;   
        background-color: transparent;
        height: 33px;
        width: 33px;
        background-repeat: no-repeat;
    }

    .slick-prev {
        left: 0;
        background-position: center;
        background-image: url('../images/about/left.svg');
        background-repeat: no-repeat;
    }

    .slick-next {
        right: 0;
        background-image: url('../images/about/right.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &__info {
        padding: 27px 0 35px 23px;
        opacity: 0.9;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        line-height: 1.3;
    }

    &__title {
        color: $brown-90;
        font-size: 60px;
        max-width: 900px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family: 'Ruda', sans-serif;
        font-weight: 900;
    }

    span {
        color: $reed-color;
    }

    &__text {
        margin-bottom: 45px;
        font-weight: 400;
        color: $brown-90;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.4px;
    }

    &__btn {
        padding: 14px 27px;
        background-color: $green-90;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: $width-color;
        font-size: 18px;
        line-height: 1.4;
        border-radius: 6px;
        align-items: center;
        transition: background-color 0.6s ease;
    
        &:hover {
            background-color: $green-110;
        }

        &:active {
            background-color: $green-100;
            border: 4px solid $green-70;
            color: $green-70;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

        .aside {
            padding: 25px 0;
            background-color: $fair-90;

        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__item:not(:first-child) {
            padding-left: 150px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 1.6;
            font-weight: 600;
            color: $brown-110;
            max-width: 180px;
            position: relative;
        }

        .aside__subtitle--1::before,
        .aside__subtitle--2::before,
        .aside__subtitle--3::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            left: -76px;
        }

        .aside__subtitle--1::before {  
            background-image: url('../images/about/delivery.svg'); 
        }

        .aside__subtitle--2::before {
            background-image: url('../images/about/return.svg');  
        }

        .aside__subtitle--3::before {
            background-image: url('../images/about/icon24.svg');
        }

        &__desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            max-width: 172px;
        }
    }
}

.topproduct {
    padding: 84px 0 72px;

    &__title {
        margin-bottom: 28px;
    }

    &__inner {
        padding: 36px 0;
    }

    &__wrap {
        max-width: 300px;
        min-height: 410px;
        justify-content: space-between;
        border-radius: 6px;
        border: 1px solid $brown-70;
        position: relative;
        transition: border-color 0.3s;

        &:hover {
            border-color: $green-100;
        }
    }
    
    .article {
        &__box {
            display: flex;
            padding: 11px;
            justify-content: space-between; 
            position: relative;
        }

        &__userpic {
            display: flex;
            padding: 11px;
            float: right;
            justify-content: space-between; 
        }

        &__info {
            color: $width-color;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative; 
        }

        &__novelty {
            background-color: $green-90;
            text-transform: uppercase;
            color: $width-color;
            padding: 4px 6px;
            font-size: 10px;
            line-height: 1;
            letter-spacing: 0.4px;
            border-radius: 6px;
            font-weight: 700;
        }

        &__sale,
        &__hit {
            background-color: $reed-color;
            padding: 4px 6px;
            border-radius: 6px;
            font-weight: 400;
        }

        &__hit {
            background-color: $orange-100;
        }

        &__heart {
            padding: 6px 0;
            height: 34px;
            background-color: transparent;
        }

        &__pic,
        &__picture {
            width: 34px;
            height: 34px;
            transition: color 0.3s ease;

                &:hover {
                stroke: $yellow-100;
                fill: $yellow-100;
            }
        }

        &__image::before {
            content: "";
            position: absolute;
            background-image: url('../images/gallery/user.svg');
            width: 40px;
            height: 40px;
            padding: 10px;
            background-color: #fff;
            border-radius: 50%;
        }

        &__heading,
        &__subject,
        &__headline {
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.5px;
            font-weight: 600; 
            word-break: break-all;
        }

        &__heading {
            padding: 12px 16px 42px;
            max-width: 230px;
        }

        &__subject {
            padding: 18px 16px 24px;
            max-width: 240px;
        }

        &__headline {
            padding: 18px 16px 7px;
            max-width: 280px;
        }

        &__block,
        &__widget {
            display: flex;
            justify-content: space-between;
            padding: 10px 18px;
            align-items: flex-end;
            line-height: 1;
        }

        &__block {
            transform: translate(0, -8%);
        }

        &__widget {
            transform: translate(0, 27%);
        }

        del {
            color: $brown-70;
            text-decoration: none;
            position: relative;
            color:  $brown-70;
            display: block;

            &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid $brown-70;
                width: 100%;
                height: 55%;
                transform: rotate(-12deg);
            }
        }

        &__cart {
            background-color: $green-90;
            width: 34px;
            height: 34px;
            padding: 8px 7px;
            border-radius: 4px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $green-110;
            }

            &:focus {
                color: $brown-70;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            &:active {
                border: 2px solid $green-60;   
            }
        }
    }

    &__more {
        display: flex;
        justify-content: center;
    }

    &__button {
        margin-bottom: 58px;
    }

    .sales {
        &__items {
            justify-content: space-between;
            display: flex;
        }
    
        &__item {
            background-repeat: no-repeat;
            background-position: center;
            max-width: 300px;
            min-height: 300px;
            width: 100%;
            padding: 75px 33px;
            font-weight: 700; 
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            position: relative;
        }

        &__desc {
            color: $brown-90;
            max-width: 175px;
        }

        &__text {
            letter-spacing: 1px;
            margin-bottom: 19px;
        }

        &__info {
            background-position: center;
            max-width: 630px;
            min-height: 300px; 
            width: 100%;  
            color: $width-color;
        }

        &__subject {
            font-size: 30px;
            line-height: 1.4;
            max-width: 390px;
            font-weight: 500;
            font-family: 'Ruda';
            margin-bottom: 12px;
        }

        span {
            color: $reed-color;
        }
        
        &__link {
            font-size: 14px;
            line-height: 1;
            transition: background-color 0.3s ease;
            position: relative;
            padding: 7px 0;

            &:hover::before {
                content: "";
                position: absolute;
                width: 100%;
                min-height: 2px;
                bottom: 0; 
            }
        } 

        .sales__else::before {
            background-color: $width-color;  
        }

        &__link::before {
            background-color: $brown-90;
        }
    }
}

.services {
    background-color: $fair-70;
    padding: 69px 0 72px;
    
    &__title {
        margin-bottom: 30px;
    }

    &__inner {
        padding: 35px 0 33px;
    }

    &__wrap {
        border: 1px solid $brown-70;
        border-radius: 6px;
        max-width: 300px;
        padding: 12px 10px;
        background-color: $width-color;
        transition:  border-color 0.3s;
        position: relative;

        &:hover {
                border-color: $green-100;
        }
    }

    .article {
        &__hit {
            background-color: $orange-100;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 700;
            color: $width-color;
            padding: 0 8px;
            border-radius: 6px;
            font-weight: 400;
        }

        &__box {
            background-repeat: no-repeat;
            display: flex;
        }

        &__novelty {
            background-color: $green-90;
            padding: 3px 6px;
            text-transform: uppercase;
            font-size: 10px;
            color: $width-color;
            line-height: 1;
            border-radius: 6px;
            font-weight: 700;
            letter-spacing: 0.4px;
        }

        &__description {
            min-height: 99px; 
            padding-left: 44px;
        }

        &__holder {
            min-height: 99px; 
            display: flex; 
            padding-left: 32px;
        }

        &__subtitle {
            max-width: 165px;
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.5px;
            min-height: 54px;
            margin-bottom: 5px;
        }

        &__descr,
        &__ends,
        &__absend {
            color: $green-100;
            font-size: 11px;
            line-height: 1.3; 
            margin-bottom: 5px;
        }

        &__ends {
            color: $reed-color;
        }

        &__absend {
            color: $brown-70;
        }

        &__prices {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 1px;
            font-weight: 600;
            align-items: center;
        }

        del {
            color: $brown-70;
            text-decoration: none;
            font-size: 12px;
            position: relative;
            color:  $brown-70;
            font-weight: 400;
            margin: 0 10px;

            &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid $brown-70;
                width: 100%;
                height: 50%;
                transform: rotate(-12deg);
            }
        }

        &__star {
            position: relative;
            justify-content: center;
            display: flex;
            
        }

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.4;
            color: $brown-90; 
        }

        &__icon {
            width: 19px;
            height: 16px;
            padding-left: 3px;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
    }
}

.partners {
    padding: 71px 0;
    position: relative;

    &__logo {
        display: flex;
        justify-content: space-between;
        padding: 0 54px;
        background-repeat: no-repeat;
    }

    &__img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 80px;
        height: 57px;
        opacity: 0.5;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1;
    
        }
    }
}
    
.footer {
    background-color: $brown-100;
    font-size: 14px;

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    
    .form {
        border-radius: 6px;
            
        &__input {
            max-width: 180px;
            min-height: 39px;
            border-radius: 0;
            width: 100%;
            border: none;
            line-height: 1.2;
            padding: 11px 15px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            
            &::placeholder {
                font-size: 12px;
            }
        }

        &__btn {
            border: none;
            background-color: $green-100;
            max-width: 126px;
            min-height: 39px;
            width: 100%;
            cursor: pointer;
            border-radius: 0;
            transition: .3s ease;
            color: $width-color;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: background-color 0.4s ease;
            position: absolute;
    
            &:hover {
                background-color: $green-110;
            }
    
            &:focus {
                color: $green-70;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
    
            &:active {
                border: solid $green-70;
            }
        }
    }

    &__text {
        line-height: 1;
        font-size: 14px;
        color: $width-color;
        padding: 19px 0;
        font-weight: 400;
        max-width: 280px;
        width: 100%;
    }

    &__list {
        column-count: 3;
        padding-left: 126px;
    }

    &__item:not(:last-child) {
        margin-bottom: 15px;
    }

    &__link {
        color: $width-color;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        padding-left: 55px;
    }

    &__contact {
        font-style: normal;
        max-width: 215px; 
        color: $width-color;
    } 
    
    &__descr {
        color: $width-color;
        font-size: 14px;
        line-height: 1.2;
   
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    &__tel {
        color: $width-color;
    }
    
    &__social {
        padding: 18px 0;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    &__icon {
        padding: 22px;
        text-align: center;
        position: relative;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background-color: $brown-90;  
        }
    }

    &__reference {
        width: 32px;
        height: 32px; 
        margin: 0 6px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: $brown-90;
        }
    }

    .footer__bottom  {
        padding: 22px 0;
        border-top: 1px solid $brown-70;
        text-transform: uppercase;
    }

    &__aside {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        font-size: 14px; 
        line-height: 2;
        color: $width-color;
        font-weight: 400;
    }

    &__card {
        display: flex;
        padding-left: 0;
    } 

    &__img:not(:last-child) {
        margin: 0 24px;
    }
}

