@charset "UTF-8";
@import url(c:\Users\Admin\OneDrive\Рабочий стол\new-project\freshok\node_modules\@fancyapps\fancybox\dist\jquery.fancybox.css);
@font-face {
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  src: local("Rubik-Light"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  src: local("Rubik-SemiBold"), url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../css/fonts/DMSans-Regular.woff2"), url("../css/fonts/DMSans-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../css/fonts/DMSans-Medium.woff2"), url("../css/fonts/DMSans-Medium.woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../css/fonts/DMSans-Regular.woff2"), url("../css/fonts/DMSans-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../css/fonts/DMSans-bold.woff2"), url("../css/fonts/DMSans-bold.woff");
  font-display: swap;
}

body {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 700;
  /*color: $white-color;*/
}

.title {
  /*font-size: 24px;
    line-height: 1.2;
    font-family: 'DMSans';
    font-weight: 700;
    color: $title-color;*/
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--lg {
  max-width: 1800px;
}

.container--bg {
  max-width: 1920px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */